src/main.o
src/mesh.o
meshtools
src/rcm.o
src/mesh_reorder.o
src/mesh_part.o
src/*.o
src/*~
.vscode/
build
build/*
setup_guilherme.sh
testes/
testes_papi/
tempos/
tempos_forkjoin/
tempos_forkjoin.zip
script.sh
msh/*.msh 
include/meshtools_config.h
.local
.local/*
.vscode-server
.vscode-server/*
*.vtu
*.pvtu
build_catalyst
test/finite_element/square256x256.msh
test/finite_element/square32x32.msh
test/finite_element/square16x16.msh
test/finite_element/square8x8.msh
